@import url("https://fonts.googleapis.com/css?family=Pacifico");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    }

body{
    height: 100vh;
    position: relative;
    }

html {
    font-size: 16px;
    }  

#title{
    font-size: 7rem;
    font-family: 'Pacifico';
    color:darkred;
    bottom:5%;
    left: 5%;
    position: absolute;
    }

.background-home{
    background-image: url("./Illustrations/home_screen2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    }

.background-game {
    background-image: url("./Illustrations/decors2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    }

.background-score {
    background-image: url("./Illustrations/score_screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    }

    .background-score2 {
    background-image: url("./Illustrations/score_screen2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    }


     .background-score3 {
    background-image: url("./Illustrations/score_screen3.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    }

     .background-score4{
    background-image: url("./Illustrations/score_screen4.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    }


#home-screen{
    visibility: visible;
    }



#game-screen{
    visibility: hidden;
    }

#score-screen{
    visibility: hidden;
    display: flex;
    justify-content: center;
    }

#score-screen h1{
    font-size: 7rem;
    font-family: 'Pacifico';
    color:darkred;
   font-size: 5em;
   ;
}

#score-screen h2{
  
    font-size: 4em;
    font-family: 'Pacifico';
    
 }

 #character{
    position: absolute;
    background-image: url(./Illustrations/bras_panier2.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 200px;
    transform: translateX();
    z-index: 10;
}

.start-button{
    background-color: #FCCE14;
    border: 6px solid rgb(201, 86, 44);
    font-size: 2.5rem;
    font-family: 'Pacifico';
    padding: 5px 10px;
    bottom: 8%;
    left: 62%;
    cursor: pointer;
    position: absolute;
    }

.restart-button{
    background-color: #FCCE14;
    border: 6px solid rgb(201, 86, 44);
    font-size: 2.5rem;
    font-family: 'Pacifico';
    padding: 5px 10px;
    bottom: 45%;
    left: 40%;
    cursor: pointer;
    position: absolute;
    }


#game_info{
 font-size:4rem;
 font-family:'Pacifico';
 display: flex;
 line-height: 45px;
 justify-content: center;
 /* background-colors: ; */
 color: black;
 border-radius: 10%;
 padding:0 30px;
    }

    /* #transp{
        color: transparent;
    } */
    
.bunny{
    background-position: center;
    position: absolute;  
    width: 120px;
    height: 120px;
    z-index: 2;
    transform: translateY();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 135px;
    height: 194px;
}

.bunny.one{
    background-image: url(./Illustrations/lapin_brun_tombe.png);
    left: 25%;  
}
.bunny.two{
    background-image: url(./Illustrations/lapin_gris_tombe.png);
    left: 30%; 
}
.bunny.three{
    background-image: url(./Illustrations/lapin_brun_tombe.png);
    left: 25%; 
}
.bunny.four{
    background-image: url(./Illustrations/lapin_gris_tombe.png);
    left: 60%; 
}

.apple{
    height: 13vh;
    max-height: max-content;
    transform: translateY();
    /* transform: translateX(); */
    z-index: 10;
    background-image: url(./Illustrations/pomme.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5em;
    position: absolute;
    width: 90px;
    height: 90px;
}

.apple.one{
    left: 15%;
}
.apple.two{
    left: 30%;
}
.apple.three{
    left: 50%; 
}
.apple.four{
    left: 75%;
}

.apple.five{
    left: 80%;
}
.apple.golden{
    left: 40%;
    width: 92px;
    height: 92px;
    background-image: url(./Illustrations/pomme_golden.png);

}



.score{
    height: 8vh;    
}


#time{
margin-right: 50px;   
}

/* .eye.one{
    position: absolute;
    background-color: brown;
    height: 1.5vh;
    width:1.5vh;
    border-radius: 50%;
    left: 55.5%;
    top:63%
}

.eye.two{
    position: absolute;
    background-color: brown;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%;
    left: 57.8%;
    top:63%
} */